<%- include('../partials/sidebar') %>
<header>
  <h1><i class="fas fa-tasks"></i>My Milestones</h1>
</header>
<div class="grid-container">
  <% milestones.forEach(function(m) { %>
  <article class="article-milestone">
    <div class="article-header">
      <p><%= m.milestoneName %></p>
    </div>
    <div></div>  
    <div class="article-footer">
      <div class="article-footer-container">
        <p class="stats-text"><%= m.numberOfDays %></p>
        <p class="label-text">DAYS</p>
      </div>
      <div class="article-footer-container">
        <p class="stats-text"><%= m.habits.length %></p>
        <p class="label-text">HABITS</p>
      </div>
    </div>
    <div class="article-next-container">
      <form action="/goals/<%= m.goalId %>/milestones/<%= m._id %>" method="GET">
        <button class="article-action-button" type="submit"><i class="fas fa-chevron-right"></i></button>
      </form>
    </div>
  </article>
  <% }); %>
</div>
<%- include('../partials/footer') %>