<%- include('../partials/sidebar') %>
<h1>Milestone Details</h1>
<div class="page-header page-header-milestones">
  <div class="page-header-left">
    <p class="article-header"><%= milestone.milestoneName %></p>
    <div class="article-category-container">
      <p>Milestone of: <%= goal.goalName %></p>
    </div>
    <div class="article-footer">
      <div class="article-footer-container">
        <p class="stats-text"><%= milestone.numberOfDays %></p>
        <p class="label-text">DAYS</p>
      </div>
      <div class="article-footer-container">
        <p class="stats-text"><%= milestone.habits.length %></p>
        <p class="label-text">HABITS</p>
      </div>
    </div>
  </div>
  <div class="page-header-right">
    <div>
      <p class="label-text">Created</p>
      <p><%= milestone.createdAt.toDateString() %></p>
    </div>
    <div>
      <p class="label-text">Last Updated</p>
      <p><%= milestone.updatedAt.toDateString() %></p>
    </div>
    <div>
      <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/edit" method="GET">
        <button class="header-button" type="submit">Edit</button>
      </form>
      <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>?_method=DELETE" method="POST">
        <button class="header-button" type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>
<h1>Habits</h1>
<div class="grid-container">
  <% habits.forEach(function(h) { %>
  <article class="article-habit">
    <div class="article-header">
      <p><%= h.habitName %></p>
    </div>
    <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/habits/<%= h._id %>?_method=PUT" method="POST">
      <div class="article-next-container">
        <button class="article-action-button" type="submit"><i class="fas fa-check"></i></button>
      </div>
      <div class="grid-container-progress">
        <% h.dailyProgress.forEach(function(d) { %>
        <label class="progress-checkbox-label">
          <input type="checkbox" id="<%= d._id %>" name="dailyProgress" value="<%= d.day %>" <%= d.complete ? "checked" : "" %> />
          <span class="custom-progress-checkbox"><%= d.day %></span>
        </label>
        <% }); %>
      </div>
    </form>
    <div class="article-footer">
      <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/habits/<%= h._id %>?_method=DELETE" method="POST">
        <button class="header-button" type="submit">Delete Habit</button>
      </form>
    </div>

  </article>
  <% }); %>
  <article class="article-add-new">
    <div></div>
    <div>
      <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/habits" method="POST">
        <textarea name="habitName" placeholder="Add New Habit" required></textarea>
    </div>
    <div class="article-footer">
      <div class="article-footer-container">
        <input type="number" id="milestone-days" name="totalDays" min="0" placeholder="-" max="<%= milestone.numberOfDays %>" required />
        <p class="label-text"># OF DAYS</p>
      </div>
    </div>
    <div class="article-next-container">
      <button class="article-action-button" type="submit"><i class="fas fa-plus"></i></button>
    </div>
    </form>
  </article>
</div>
<%- include('../partials/footer') %>