<%- include('../partials/header') %>
<section id="milestone-details">
    <h1><%= milestone.milestoneName %> Details</h1>
    <table>
        <tbody>
            <tr>
                <td>Last Updated</td>
                <td>
                    <%= milestone.updatedAt.toDateString() %>
                    <%= milestone.updatedAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' }) %>
                </td>
            </tr>
            <tr>
                <td>Progress</td>
                <td><%= milestone.progress %></td>
            <tr>
                <td>Days to complete</td>
                <td><%= milestone.numberOfDays %></td>
            </tr>
            <tr>
                <td>Habits</td>
                <td>
                <% habits.forEach(function(h) { %>
                     <%= h.habitName %>
                     <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/habits/<%= h._id %>?_method=PUT" method="POST">
                     <% h.dailyProgress.forEach(function(d) { %>
                        <input type="checkbox" id="<%= d.day %>" name="dailyProgress" value="<%= d.day %>" <%= d.complete ? "checked" : "" %>/>
                        <label for="<%= d.day %>"><%= d.day %></label>
                        <% }); %> 
                        <button type="submit">Update Habit</button>  
                    </form>
                     <br />
                 <% }); %>   
                 </td>
            </tr>
        </tbody>
    </table>
    <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Milestone</button>
    </form>
    <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/edit" method="GET">
        <button type="submit">Edit Milestone Details</button>
    </form>
</section>
<section id="habits-form">
    <form action="/goals/<%= goal._id %>/milestones/<%= milestone._id %>/habits" method="POST">
        <div>
            <label>Habit Name
                <input type="text" name="habitName" />
            </label>
        </div>
        <div>
            <label>Total days for your new habit
                <input type="number" name="totalDays"/>
            </label>
        </div>
        <div>
            <input type="submit" value="Add Habit" />
        </div>
    </form>
</section>
<%- include('../partials/footer') %>