<%- include('../partials/header') %>
<section>
  <h1>Goals Page</h1>
  <table>
    <thead>
      <tr>
        <th>Progress</th>
        <th>Goal</th>
        <th>Priority</th>
        <th>Difficulty#</th>
        <th>Days to complete</th>
        <th>Categories</th>
      </tr>
    </thead>
    </thead>
    <tbody>
      <% goals.forEach(function(g) { %>
      <tr class="table-row">
        <td><%= g.progress %></td>
        <td><%= g.goalName %></td>
        <td><%= g.priority %></td>
        <td><%= g.difficulty %></td>
        <td><%= g.daysToComplete %></td>
        <td>
          <% g.categories.forEach(function(c) { %>
          <%= c %><br />
          <% }) %>
        </td>
        <td>
          <form action="/goals/<%= g._id %>" method="GET">
            <button type="submit">Details</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <a href="/goals/new">Add Goal</a>
</section>
<%- include('../partials/footer') %>