<%- include('../partials/sidebar') %>
<header>
  <h1><i class="fas fa-bullseye"></i>My Goals</h1>
</header>
  <div class="grid-container">
    <% goals.forEach(function(g) { %>
      <article>
        Progress: <td><%= g.progress %></td>
        <p class="article-header" ><%= g.goalName %></p>
        Priority: <%= g.priority %><br />
        Difficulty: <%= g.difficulty %><br />
        Days to Complete: <%= g.daysToComplete %><br />
        <b>Categories</b><br>
        <% g.categories.forEach(function(c) { %>
          <%= c %> 
          <% }) %>
          <form action="/goals/<%= g._id %>" method="GET">
            <button type="submit">Details</button>
          </form>
      </article>
    <% }); %>
  </div>
<%- include('../partials/footer') %>