<%- include('../partials/sidebar') %>
<div class="wayfind">
  <h1>Goal Details</h1>
  <a href="/goals" class="label-text"><i class="fas fa-angle-left"></i>Back</a>
</div>
<div class="page-header page-header-goals" id="goal-details-header">
  <div class="page-header-left">
    <p class="article-header"><%= goal.goalName %></p>
    <div class="article-category-container">
      <% goal.categories.forEach(function(c) { %>
      <p class="category-tag label-text"><%= c %></p>
      <% }) %>
    </div>
    <div class="article-footer">
      <div class="article-footer-container">
        <p class="stats-text"><%= goal.daysToComplete %></p>
        <p class="label-text">DAYS</p>
      </div>
      <div class="article-footer-container">
        <p class="stats-text"><%= goal.milestones.length %></p>
        <p class="label-text">MILESTONES</p>
      </div>
      <div class="article-footer-container">
        <p class="stats-text"><%= totalHabits %></p>
        <p class="label-text">HABITS</p>
      </div>
    </div>
  </div>
  <div class="page-header-right">
    <div>
      <p class="label-text">Created</p>
      <p><%= goal.createdAt.toDateString() %></p>
    </div>
    <div>
      <p class="label-text">Last Updated</p>
      <p><%= goal.updatedAt.toDateString() %></p>
    </div>
    <div>
      <form action="/goals/<%= goal._id %>/edit" method="GET"></form>
      <button class="header-button" id="edit-goal-button" type="submit">Edit</button>
      </form>
      <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
        <button class="header-button" type="submit">Delete</button>
      </form>
    </div>
  </div>
</div>
<form action="/goals/<%= goal._id %>?_method=PUT" method="POST" id="edit-goal-form">
  <div class="page-header page-header-goals">
    <div class="page-header-left">
      <textarea name="goalName" id="header-textarea" value="<%= goal.goalname %>" required><%= goal.goalName %></textarea>
      <div class="article-category-container">
        <% category.forEach(function(c) { %>
        <label class="header-categories-checkbox-label"><%= c %>
          <input type="checkbox" id="<%= c %>" name="categories" value="<%= c %>" <%= goal.categories.includes(c) ? "checked" : "" %> />
          <span class="custom-header-checkbox"><%= c %></span>
        </label>
        <% }) %>
      </div>
      <div class="article-footer">
        <div class="article-footer-container">
          <input type="number" name="daysToComplete" value="<%= goal.daysToComplete %>" placeholder="<%= goal.daysToComplete %>" required />
          <p class="label-text"># OF DAYS</p>
        </div>
      </div>
    </div>
    <div class="page-header-right">
      <div>
        <p class="label-text">Created</p>
        <p><%= goal.createdAt.toDateString() %></p>
      </div>
      <div>
        <p class="label-text">Last Updated</p>
        <p><%= goal.updatedAt.toDateString() %></p>
      </div>
      <div>
        <input class="header-button" type="submit" value="Update" />
      </div>
    </div>
  </div>
</form>
<h1>Milestones</h1>
<div class="grid-container">
  <% goal.milestones.forEach(function(m) { %>
  <article class="article-milestone">
    <div class="article-header">
      <p><%= m.milestoneName %></p>
    </div>
    <div class=""></div>
    <div class="article-footer">
      <div class="article-footer-container">
        <p class="stats-text"><%= m.numberOfDays %><br /></p>
        <p class="label-text">DAYS</p>
      </div>
      <div class="article-footer-container">
        <p class="stats-text"><%= m.habits.length %><br /></p>
        <p class="label-text">HABITS</p>
      </div>
    </div>
    <div class="article-next-container">
      <form action="/goals/<%= goal._id %>/milestones/<%= m._id %>" method="GET">
        <button class="article-action-button" type="submit"><i class="fas fa-chevron-right"></i></button>
      </form>
    </div>
  </article>
  <% }); %>
  <article class="article-add-new">
    <div></div>
    <div>
      <form action="/goals/<%= goal._id %>/milestones" method="POST">
        <textarea name="milestoneName" placeholder="Add New Milestone" required></textarea>
    </div>
    <div class="article-footer">
      <div class="article-footer-container">
        <input type="number" id="milestone-days" name="numberOfDays" min="0" placeholder="-" max="<%= goal.daysToComplete %>" required />
        <p class="label-text"># OF DAYS</p>
      </div>
    </div>
    <div class="article-next-container">
      <button class="article-action-button" type="submit"><i class="fas fa-plus"></i></button>
    </div>
    </form>
  </article>
</div>
<%- include('../partials/footer') %>