<%- include('../partials/sidebar') %>
<section id="goal-details">
    <h1><%= goal.goalName %></h1>
    <table>
        <tbody>
            <tr>
                <td>Created On</td>
                <td>
                    <%= goal.createdAt.toDateString() %>
                    <%= goal.createdAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' }) %>
                </td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>
                    <%= goal.updatedAt.toDateString() %>
                    <%= goal.updatedAt.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', timeZoneName: 'short' }) %>
                </td>
            </tr>
            <tr>
                <td>Progress</td>
                <td><%= goal.progress %></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td><%= goal.priority %></td>
            </tr>
            <tr>
                <td>Difficulty#</td>
                <td><%= goal.difficulty %></td>
            </tr>
            <tr>
                <td>Days to complete</td>
                <td><%= goal.daysToComplete %></td>
            </tr>
            <tr>
                <td>Categories</td>
                <td>
                    <% goal.categories.forEach(function(c) { %>
                    <%= c %><br />
                    <% }) %>
                </td>
            </tr>
            <tr>
                <td>milestones</td>
                <td>
                    <% milestones.forEach(function(m) { %>
                    <%= m.milestoneName %>
                    <form action="/goals/<%= goal._id %>/milestones/<%= m._id %>?_method=DELETE" method="GET">
                        <button type="submit">Milestone Details</button>
                    </form>
                    <br />
                    <% }) %>
                </td>
            </tr>
        </tbody>
    </table>
    <form action="/goals/<%= goal._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Goal</button>
    </form>
    <form action="/goals/<%= goal._id %>/edit" method="GET">
        <button type="submit">Edit Goal Details</button>
    </form>
</section>
<section id="milestone-form">
    <form action="/goals/<%= goal._id %>/milestones" method="POST">
        <div>
            <label>Milestone Name
                <input type="text" name="milestoneName" />
            </label>
        </div>
        <div>
            <label>How many days to complete your milestone:
                <input type="number" id="milestone-days" name="numberOfDays" min="0" />
            </label>
        </div>
        <div>
            <input type="submit" value="Add Milestone" />
        </div>
    </form>
</section>
<%- include('../partials/footer') %>